<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
</head>
<body>

	<h3>Update Profile</h3>
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<div>
		<h4>Edit information</h4>
		<form id="info" action="{% url 'dashboard:users_id' id=user.id %}" method="post">
		{% csrf_token %}
			<p>Email Address:</p>
			<input type="text" name="email">
			<p>First Name:</p>
			<input type="text" name="first_name">
			<p>Last Name:</p>
			<p><input type="text" name="last_name"></p>
			{% if request.session.user_level == 9 %}
			<p>User Level:</p>	
				<select form="info" name="user_level">
					<option value="1">Normal</option>
					<option value="9">Admin</option>
				</select>
			{% endif %}
			<p><input type="submit" value="Save"></p>
		</form>
	</div>
	<div>
		<h4>Change Password</h4>
		<form action="{% url 'dashboard:users_id' id=user.id %}" method="post">
		{% csrf_token %}
			<p>Password:</p>
			<input type="text" name="password1">
			<p>Confirm Password:</p>
			<input type="text" name="password2">
			<br>
			<input type="submit" value="Update Password">
		</form>
	</div>
	<div>
		<h4>Edit Description</h4>
		<form action="{% url 'dashboard:users_id' id=user.id %}" method="post">
		{% csrf_token %}
			<input type="text" name="description">
			<br>
			<input type="submit" value="Save">
		</form>
	</div>
	<p><a href="{% url 'dashboard:users_id' id=user.id%}"><button>Back</button></a></p>
</body>
</html>